#pad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  border-radius: 50px;
}

#drum-machine {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  margin: 30% auto;
  justify-content: space-evenly;
}

#display {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.center {
  text-align: center;
  font-size: larger;
}

.drum-pad:hover {
  background-color: lightskyblue;
}